.bg-color {
  background-color: #bde4f8;
  padding: 12px 0 31px 0;
}

.Number img {
  position: absolute;
  top: 190%;
  left: 20.5%;
  width: 60%;
  z-index: 1;
}

.row-Padding {
  padding-top: 130px;
}

.Ellipse-style {
  position: absolute;
  top: 86%;
  left: 0;
  z-index: 2;
}

.column-bg {
  background-color: #f1f7fa;
  position: relative;
  z-index: 3;
}

.btns button {
  border: none;
  padding: 10px 20px;
  margin: 0 5px;
  background-color: #38b6ff;
  color: white;
  z-index: 4;
}

/* SubjectsAndPricingComponent.css */

.modal-content.custom-modal {
  background-color: #f1f7fa; /* Set the background color of the modal */
}

.modal-footer {
  display: flex;
  justify-content: flex-end; /* Align buttons to the right */
}

.modal-footer .btn-secondary {
  margin-right: auto; /* Pushes the Close button to the left */
}

.btns span {
  padding-left: 15px;
}

.subject-btn {
  background-color: #38b6ff;
}

.select-container {
  position: relative;
  display: inline-block;
  width: 100%;
}

.select-container select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  padding-right: 30px;
  width: 100%;
}

.select-container .fa-chevron-down {
  position: absolute;
  top: 50%;
  right: 10px;
  pointer-events: none;
  transform: translateY(-50%);
  color: #555;
  z-index: 5;
}

@media (max-width: 576px) {
  .Number img {
    position: absolute;
    top: 8%;
    left: 12.5%;
    width: 80%;
  }
  .bg-color {
    background-color: #bde4f8;
    padding: 12px 0 31px 0;
  }
  .row-Padding {
    padding-top: 50px;
  }
}
